.users {
    display: flex;
    max-width: 900px;
    flex-flow: row wrap;
    margin: 0px auto;
    justify-content: center;
}

.user  {
    margin: 15px;
}

.avatar {
    width: 150px;
    height: 150px;
}

.selectedPage {
    font-weight: bold;
}

.searchForm {
    margin-top: 15px;
}