.characterRow {
  display: flex;
  margin-bottom: 8px;
}

.characterCol {
  display: flex;
  margin-bottom: 8px;
  flex-direction: column;
}

.titleCharacter {
  font-weight: bold;
  width: 275px;
  text-align: left;
}

.serverError {
  padding: 5px;
  border: 1px solid red;
  color: red;
  width: 270px;
} 

.profileData {
  background-color: #eaf3ff;
  box-shadow: rgb(220, 225, 230) 0px 1px 0px 0px;
  margin: auto;
  border-radius: 10px;
  padding: 10px 15px;
}

.titleBlock {
  text-align: left;
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 18px;
}

.lntxt {
  overflow:hidden;
}
.lntxt::before,.lntxt::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 100%;
  height: 1px;
  background: black;
  border:solid #f6f6f6;
  border-width:0 .5em 0; 
}

.lntxt::before {margin-left:-100%}
.lntxt::after {margin-right:-100%}

.statusWrapper {
  margin: 10px 0px;
}

.statusInputBlock {
  display: flex;
  align-items: center;
  justify-content: center;
}

.statusInput {
  margin-right: 15px;
}

.statusContainer {
  margin: 15px;
}
.helpMsg {
  display: none;
}

.status {
  padding: 10px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.status:hover {
  background-color:#f6f6f6;
}

.status:hover .helpMsg {
  display: inline;
  padding-left: 20px;
  position:absolute;
}

input[type=checkbox] {display: none;}

.labelCheckbox {
  display: flex;
}

input[type=checkbox] + .labelCheckbox:after {
  content: "\2714";
  color: transparent;
  display: inline-block;
  border: 1px solid #ccc;
  font-size: 20px;
  font-weight: 900;
  line-height: 22px;
  height: 20px;
  width: 20px;
  text-align: center;
  vertical-align: middle;
  transition: color ease .3s;
}

input[type=checkbox]:checked + .labelCheckbox:after {
  color: #000;
  border-color: #000;
}


/* Upload File */
.uploadFileWrapper {
  display: flex;
  justify-content: center;
}
  

.uploadFileInput {
  opacity: 0;
  position: absolute;
  z-index: -1;
  overflow: hidden;
  width: 0.4px;
  height: 0.4px;
}

.uploadFileLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 240px;
  border: 2px dashed #150B22;
  padding: 9px 49px;
  border-radius: 6px;
  cursor: pointer;
}

.uploadFileIcon {
  width: 30px;
  height: auto;
  margin-right: 11px;
}

.uploadFileLabel .uploadFileText,
.uploadFileLabel .uploadFileIcon path {
  transition: .25s ease;
}

.uploadFileLabel:hover .uploadFileText {
  color: #58862D;
}

.uploadFileLabel:hover .uploadFileIcon path {
  fill: #58862D;
}

.uploadFileLabel:hover {
  border: 2px dashed #58862D;
}

.serverError {
  margin: 10px auto;
}