.post {
    display: flex;
}

.post img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #ff5b36;
}

.comment {
    display: flex;
    flex-flow: column;
    align-self: center;
}