.post {
    display: flex;
    margin-bottom: 15px;
    background-color: #eaf3ff;
    border-radius: 8px 0 0 0;
}

.post img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.comment {
    display: flex;
    flex-flow: column;
    align-self: center;
}