/* font-family: 'Comfortaa', cursive; */

.inputText {
    padding: 6px 12px 8px;
    border-radius: 3px;
    border: 1px solid #d3d9de;
    font-size: 20px;
    box-sizing: border-box;
    width: 270px;
    margin-top: 0.5em;
}

.inputText:hover {
    background-color: antiquewhite;
}

.serverError {
    padding: 5px;
    border: 1px solid red;
    color: red;
    width: 270px;
} 