.inputText {
    padding: 6px 12px 8px;
    border-radius: 3px;
    border: 1px solid #d3d9de;
    font-size: 20px;
    box-sizing: border-box;
    width: 270px;
    margin-top: 0.5em;
}

.inputText:hover {
    background-color: antiquewhite;
}

.serverError {
    padding: 5px;
    border: 1px solid red;
    color: red;
    width: 270px;
} 

input[type=checkbox] {display: none;}

.labelCheckbox {
  display: flex;
  margin: 10px 0px;
  justify-content: center;
}

input[type=checkbox] + .labelCheckbox:after {
  content: "\2714";
  color: transparent;
  display: inline-block;
  border: 1px solid #ccc;
  font-size: 20px;
  font-weight: 900;
  line-height: 22px;
  height: 20px;
  width: 20px;
  text-align: center;
  vertical-align: middle;
  transition: color ease .3s;
  margin-left: 20px;
}

input[type=checkbox]:checked + .labelCheckbox:after {
  color: #000;
  border-color: #000;
}

.loginFormWrapper {
    max-width: 700px;
    margin: 0 auto;
    background-color: #f0f2f5;
    padding: 20px 10px;
    border-radius: 10px;
}